.section-projects {
  padding: 80px;
}

.slide {
  margin: 50px 0px;
}

.project-div {
  background-color: #95b9a5;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.project-div img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}

.project-div h6 {
  font-size: 23px;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
}

.project-div p {
  margin-top: 10px;
  font-size: 16px;
  font-family: spline, sans-serif;
  color: rgb(50, 50, 50);
  text-align: center;
}

.project-div button {
  width: 200px;
  height: 50px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
}

.project-div button:hover {
  text-decoration: underline;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
  color: black;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1000px) {
  .project-div {
    padding: 15px;
    width: 90%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 795px) {
  .section-projects {
    padding: 25px;
  }

  .slide {
    margin: 100px 0px;
  }
}

@media screen and (max-width: 640px) {
  .section-projects {
    padding: 25px;
  }

  .project-div h6 {
    font-size: 20px;
  }

  .project-div p {
    font-size: 18px;
  }

  .project-div button {
    font-size: 20px;
  }

  .project-div img {
    max-width: 170px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 470px) {
  .project-div {
    padding: 15px;
  }

  .project-div h6 {
    font-size: 18px;
  }

  .project-div p {
    font-size: 15px;
  }

  .project-div button {
    font-size: 18px;
  }

  .project-div img {
    max-width: 150px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 25px;
    height: 25px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1rem;
  }
}

@media screen and (max-width: 390px) {
  .section-projects {
    padding: 15px;
  }

  .project-div {
    padding: 15px;
  }

  .project-div h6 {
    font-size: 18px;
  }

  .project-div p {
    font-size: 15px;
  }

  .project-div button {
    font-size: 18px;
  }

  .project-div img {
    max-width: 120px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 20px !important;
    height: 20px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1rem !important;
  }
}
