@font-face {
  font-family: spline;
  src: url(../../fonts/SplineSansMono-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #a4c3b2;
}

* {
  margin: 0;
  padding: 0;
}

.Home {
  min-height: 100vh;
  background-color: #a4c3b2;
}

.section {
  background-color: #a4c3b2;
  text-align: center;
}
